<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="icon"  href="/NexTak.png">
    <title>Login | Signup</title>
</head>
<body>
<main id="main" class="login-main">

    <div class="container">
        <div class="login-container" id="login-container">
            <h2 id="title">WELCOME BACK !</h2>
            <form class="input-forms login-form"

                  th:action="@{/taskmanager/{version}/auth/loginprocess(version=${version})}"
                  method="post"
                  id="login-form"
            th:object="${loginDto}">
                <div class="inputs">
                    <input th:field="*{username}" type="text" id="username" name="username" placeholder="Username">
                </div>
                <div class="inputs">
                    <svg  class="password-lock lock-password"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d="M256 160L256 224L384 224L384 160C384 124.7 355.3 96 320 96C284.7 96 256 124.7 256 160zM192 224L192 160C192 89.3 249.3 32 320 32C390.7 32 448 89.3 448 160L448 224C483.3 224 512 252.7 512 288L512 512C512 547.3 483.3 576 448 576L192 576C156.7 576 128 547.3 128 512L128 288C128 252.7 156.7 224 192 224z"/></svg>
                    <svg  class="password-lock show-password" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d="M256 160C256 124.7 284.7 96 320 96C351.7 96 378 119 383.1 149.3C386 166.7 402.5 178.5 420 175.6C437.5 172.7 449.2 156.2 446.3 138.7C436.1 78.1 383.5 32 320 32C249.3 32 192 89.3 192 160L192 224C156.7 224 128 252.7 128 288L128 512C128 547.3 156.7 576 192 576L448 576C483.3 576 512 547.3 512 512L512 288C512 252.7 483.3 224 448 224L256 224L256 160z"/></svg>
                    <input type="password" id="password-login" name="password" placeholder="Password"
                           th:field="*{password}">
                </div>
                <div class="error" th:if="${param.error}">
                    <span class="password-message">*Username or password is wrong</span>
                </div>
                <div th:if="${param.success}">
                    <span class="password-message" style="color:black;">Signup successful! Please login.</span>
                </div>
                <button type="submit" class="login-button">Login</button>
            </form>
            <div class="forgot-password login-form" id="forgot-password">
                <p>Forgot password ? </p>
                <a href="index.html"> Click here</a>
            </div>
            <form class="input-forms hide"
                  th:action="@{/taskmanager/{version}/auth/signup(version=${version})}"
                  th:object="${signUpDto}"
                  method="post"
                  enctype="multipart/form-data"
                  id="signup-forms">
                <div class="inputs">
                    <input type="text" id="username-signup" th:field="*{username}" name="username" placeholder="Username" required>
                </div>
                <div class="inputs" id="password-container">
                    <div class="password-lock-show-container">
                        <svg  class="password-lock lock-password"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d="M256 160L256 224L384 224L384 160C384 124.7 355.3 96 320 96C284.7 96 256 124.7 256 160zM192 224L192 160C192 89.3 249.3 32 320 32C390.7 32 448 89.3 448 160L448 224C483.3 224 512 252.7 512 288L512 512C512 547.3 483.3 576 448 576L192 576C156.7 576 128 547.3 128 512L128 288C128 252.7 156.7 224 192 224z"/></svg>
                        <svg  class="password-lock show-password" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d="M256 160C256 124.7 284.7 96 320 96C351.7 96 378 119 383.1 149.3C386 166.7 402.5 178.5 420 175.6C437.5 172.7 449.2 156.2 446.3 138.7C436.1 78.1 383.5 32 320 32C249.3 32 192 89.3 192 160L192 224C156.7 224 128 252.7 128 288L128 512C128 547.3 156.7 576 192 576L448 576C483.3 576 512 547.3 512 512L512 288C512 252.7 483.3 224 448 224L256 224L256 160z"/></svg>
                    </div>
                    <input type="password" id="password-signup" th:field="*{password}" name="password" placeholder="Password">
                    <p id="password-message" class="password-message">*Min 8 chars: upper, lower, number, special.</p>

                </div>
                <div class="inputs">
                    <input type="text" th:field="*{fullName}" id="name-signup" name="name" placeholder="Full Name" required>
                </div>
                <div class="inputs">
                    <input type="email" th:field="*{email}" id="email-signup" name="email" placeholder="Email" required>
                </div>
                <div class="inputs">
                    <input disabled type="file" id="file-signup" th:field="*{profileImage}"  placeholder="Profile Image" accept="image/png, image/jpeg"  required>
                    <p class="password-message" >*Only PNG and JPEG files(Disabled)</p>
                </div>
                <div th:if="${param.signup} and ${param.error}">
    <span class="password-message" style="color:red;">
        Signup failed! Username already exists.
    </span>
                </div>
                <button type="submit"  class="signup-button" >SIGN UP</button>
            </form>
        </div>
        <div class="signup-container"  id="signup-container">
            <div class="text-login" id="text-login">
                <img src="/assests/NexTask Logo.svg"  alt="logo" class="logo">
                <h3>NEW MEMBER</h3>
                <p>Click here to create a Account </p>
                <button onclick="openSignUp()">SIGN UP</button>
            </div>
            <div class="text-signup hide" id="text-signup">
                <img src="/assests/NexTask Logo.svg"  alt="logo" class="logo">

                <h3>ALREADY MEMBER ?</h3>
                <p>Click here to Login</p>
                <button onclick="openLogin()">LOGIN</button>
            </div>
        </div>
    </div>
</main>
</body>
<script th:src="@{/js/script.js}"></script>
<script id="sg1">
    window.addEventListener("load", () => {
        const urlParams = new URLSearchParams(window.location.search);

        if (urlParams.get("signup") === "true") {
            openSignUp(); // your existing function
        }
    });
</script>
</html>