<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/todo-list.css}" >
    <link rel="icon"  th:href="@{/assests/NexTak.png}">
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Todo | NxTask</title>
</head>
<body>

<main>
    <div class="create-task" id="create-task">
        <div class="overlay"></div>

        <div class="create-popup">
            <header>
                <h3>Add new Task</h3>
                <div class="close-button" id="close-button">
                    <i class="fa-solid fa-xmark"></i>
                </div>
            </header>

            <div class="create-task-form">

                <!-- CATEGORY SELECT (TaskType) -->
                <div class="time-filter">
                    <div class="today-filter active category-btn" data-type="DAY">
                        <i class="fa-solid fa-calendar-day"></i>
                        <p>DAY</p>
                    </div>
                    <div class="week-filter category-btn" data-type="WEEK">
                        <i class="fa-solid fa-calendar-week"></i>
                        <p>THIS WEEK</p>
                    </div>
                    <div class="month-filter category-btn" data-type="MONTH">
                        <i class="fa-solid fa-calendar"></i>
                        <p>THIS MONTH</p>
                    </div>
                </div>

                <!-- FORM START -->
                <form th:action="@{/taskmanager/{version}/task/create(version=${version})}" th:object="${taskRequest}" method="post">

                    <!-- hidden field for TaskType -->
                    <input type="hidden" th:field="*{taskType}" id="taskType" value="DAY"/>

                    <!-- TITLE -->
                    <div class="task-inputs">
                        <label>Title <span>*(Only 50 characters)</span></label>
                        <input type="text" th:field="*{title}" maxlength="50" required>
                    </div>

                    <!-- DESCRIPTION -->
                    <div class="task-inputs">
                        <label>Description <span>*</span></label>
                        <textarea rows="4" th:field="*{description}" required></textarea>
                    </div>

                    <!-- ROW -->
                    <div class="task-row">

                        <!-- PRIORITY -->
                        <div class="task-inputs">
                            <label>Priority <span>*</span></label>
                            <select th:field="*{priority}" required>
                                <option value="HIGH">HIGH</option>
                                <option value="MEDIUM">MEDIUM</option>
                                <option value="LOW">LOW</option>
                            </select>
                        </div>

                        <!-- DATETIME -->
                        <div class="task-inputs">
                            <label>Due Date & Time <span>*</span></label>
                            <input type="datetime-local" th:field="*{dueDate}" required>
                        </div>

                        <!-- STATUS -->
                        <div class="task-inputs">
                            <label>Status <span>*</span></label>
                            <select th:field="*{status}" required>
                                <option value="CREATED">PENDING</option>
                                <option value="STARTED">IN_PROGRESS</option>
                                <option value="COMPLETED">COMPLETED</option>
                            </select>
                        </div>

                    </div>

                    <span>* Please fill in all required fields.</span>

                    <!-- BUTTONS -->
                    <div class="create-buttons">
                        <div>
                            <button type="reset" class="reset-button btn btn-negative">
                                <i class="fa-solid fa-arrow-rotate-left"></i> Reset
                            </button>
                        </div>

                        <button type="submit" class="create-button btn">
                            <i class="fa-solid fa-plus"></i> Add Task
                        </button>
                    </div>

                </form>
                <!-- FORM END -->

            </div>
        </div>
    </div>





    <nav>
        <div><img th:src="@{/assests/NexTask Logo.svg}" alt="Logo" class="logo"></div>
        <div class="user-logout">
            <div class="user-profile"><img class="user-image" id="user-image" th:src="@{/assests/blank profile.webp}" alt=""></div>
            <form th:action="@{/logout}" method="POST">
                <button id="logout" type="submit" class="logout " onclick="logout()" >Logout</button>
            </form>

        </div>
    </nav>
<!--    <div id="loader">-->
<!--        <div class="spinner"></div>-->
<!--    </div>-->
    <div class="info-section">

        <div class="graphs">
            <div class="graph">
                <h3>Today’s Progress</h3>
                <div class="donut" id="today-progress"
                     th:style="'background: conic-gradient(#4CAF50 '
               + ${data.progressData['todayProgress']} + '%, #e5e7eb 0%);'"
                >
                    <p class="percentage-donut" id="todays-precentage"
                       th:text="${#numbers.formatDecimal(data.progressData['todayProgress'], 0, 0)}">

                    </p></div>
                <div class="text-donut">
                    <div class="completed" ><p id="today-completed"></p><p>Completed</p></div>
                    <div class="pending" ><p id="today-pending"></p><p>Pending</p></div>
                </div>

            </div>
            <div class="graph">
                <h3>This Week’s Progress</h3>
                <div class="donut" id="week-progress"
                     th:style="'background: conic-gradient(rgb(37, 99, 235) '
               + ${data.progressData['weekProgress']} + '%, #e5e7eb 0%);'"
                >




                    <p class="percentage-donut" id="week-precentage"
                       th:text="${#numbers.formatDecimal(data.progressData['weekProgress'], 0, 0)}"></p>
                </div>
                <div class="text-donut">
                    <div class="completed week" ><p id="week-completed"></p><p>Completed</p></div>
                    <div class="pending" ><p id="week-pending"></p><p>Pending</p></div>

                </div>
            </div>

            <div class="graph">
                <h3>This Month’s Progress</h3>
                <div class="donut" id="month-progress"
                     th:style="'background: conic-gradient(rgb(128, 0, 128) '
               + ${data.progressData['monthProgress']} + '%, #e5e7eb 0%);'"
                >

                <p class="percentage-donut" id="month-precentage" th:text="${#numbers.formatDecimal(data.progressData['monthProgress'], 0, 0)}"></p></div>
                <div class="text-donut">
                    <div class="completed month"><p id="month-completed"></p><p>Completed</p></div>
                    <div class="pending" ><p id="month-pending"></p><p>Pending</p></div>
                </div>
            </div>



        </div>


<!--        <div class="calender-info">-->
<!--            <div class="calender-info-row-total">-->
<!--                <div class="total-task">-->
<!--                    <h3 id="total-task">50</h3>-->
<!--                </div>-->
<!--                <p>Total Task</p>-->
<!--            </div>-->
<!--            <div class="calender-info-row">-->
<!--                <div class="today-info"></div><p>Today</p>-->
<!--            </div>-->
<!--            <div class="calender-info-row">-->
<!--                <div class="selected-info"></div><p>Selected</p>-->
<!--            </div>-->

<!--        </div>-->

<!--        <div class="calendar">-->
<!--            <header class="calendar-header">-->
<!--                <div id="prev" class="btn"><i class="fa-solid fa-arrow-left"></i></div>-->
<!--                <div id="current" class="current">JULY 2024</div>-->
<!--                <div id="next" class="btn"><i class="fa-solid fa-arrow-right"></i></div>-->
<!--            </header>-->
<!--            <div class="dates">-->
<!--                <div class="weeks">-->
<!--                    <div>S</div>-->
<!--                    <div>M</div>-->
<!--                    <div>T</div>-->
<!--                    <div>W</div>-->
<!--                    <div>TH</div>-->
<!--                    <div>F</div>-->
<!--                    <div>S</div>-->

<!--                </div>-->
<!--                <div class="day" id="day">-->

<!--                </div>-->
<!--            </div>-->

<!--        </div>-->
    </div>


    <div class="todo-section">







        <header class="todo-header">
            <div>
                <i class="fa-solid fa-table-list"></i>
                <h2>To Do List</h2>
            </div>

            <div>
                <button class="btn" onclick="openAddTaskPopUp()">+ Add Task</button>
            </div>

        </header>
        <div class="todo-main">




            <div class="todo-today todolist">
                <header>
                    <div class="today-details">
                        <div class="todo-icon"><i class="fa-solid fa-calendar-day"></i></div>
                        <h3>Today</h3>
                        <div class="todo-header-date"><p id="current-day"></p></div>

                    </div>
                    <div class="task-progress">
                        <div class="task-progress-complete" id="task-progress-today"></div>
                    </div>
                </header>


                <div class="todo-all-list" id="todo-list-today">
                    <div class="todo-card"
                         th:each="task : ${data.todayTask}"
                         th:id="${task.id}"
                         th:classappend="${task.status.name() == 'COMPLETED'} ? 'checked'">

                        <!-- Checkbox -->
                        <div class="check-box-div">
                            <input type="checkbox"
                                   th:attr="data-id=${task.id}"
                                   th:checked="${task.status.name() == 'COMPLETED'}"
                                   onchange="updateTaskStatus(this)"
                            />
                        </div>

                        <!-- Task Info -->
                        <div class="todo-info-div">
                            <p th:text="${task.title}"></p>
                            <p th:text="${#temporals.format(task.dueDate, 'dd MMM yyyy HH:mm')}"></p>
                        </div>

                        <!-- Priority -->
                        <div class="priority-div">
                            <div class="priority"
                                 th:classappend="${task.priority.name().toLowerCase()}">
                                <p th:text="${task.priority.name()}"></p>
                            </div>
                        </div>

                        <!-- Delete -->
                        <div class="delete">
                            <i class="fa-solid fa-trash-can"></i>
                        </div>

                    </div>
                </div>
            </div>
            <div class="todo-week todolist">
                <header>
                    <div class="today-details">
                        <div class="todo-icon"><i class="fa-solid fa-calendar-week"></i></i></div>
                        <h3>This week</h3>
                        <div class="todo-header-date"><p id="current-week"></p></div>
                    </div>
                    <div class="task-progress"><div class="task-progress-complete" id="task-progress-week"></div></div>
                </header>
                <div class="todo-all-list" id="todo-list-week">

                    <div class="todo-card"
                         th:each="task : ${data.weekTask}"
                         th:id="${task.id}"
                         th:classappend="${task.status.name() == 'COMPLETED'} ? 'checked'">

                        <!-- Checkbox -->
                        <div class="check-box-div">
                            <input type="checkbox"
                                   th:attr="data-id=${task.id}"
                                   th:checked="${task.status.name() == 'COMPLETED'}"
                                   onchange="updateTaskStatus(this)"/>
                        </div>

                        <!-- Task Info -->
                        <div class="todo-info-div">
                            <p th:text="${task.title}"></p>
                            <p th:text="${#temporals.format(task.dueDate, 'dd MMM yyyy HH:mm')}"></p>
                        </div>

                        <!-- Priority -->
                        <div class="priority-div">
                            <div class="priority"
                                 th:classappend="${task.priority.name().toLowerCase()}">
                                <p th:text="${task.priority.name()}"></p>
                            </div>
                        </div>

                        <!-- Delete -->
                        <div class="delete">
                            <i class="fa-solid fa-trash-can"></i>
                        </div>

                    </div>
                </div>


            </div>
            <div class="todo-month todolist ">
                <header>
                    <div class="today-details">
                        <div class="todo-icon"><i class="fa-regular fa-calendar"></i></div>
                        <h3>This month</h3>
                        <div class="todo-header-date"><p id="current-month"></p></div>
                    </div>
                    <div class="task-progress"><div class="task-progress-complete" id="task-progress-month"></div></div>
                </header>

                <div class="todo-all-list" id="todo-list-month">

                    <div class="todo-card"
                         th:each="task : ${data.monthTask}"
                         th:id="${task.id}"
                         th:classappend="${task.status.name() == 'COMPLETED'} ? 'checked'">

                        <!-- Checkbox -->
                        <div class="check-box-div">
                            <input type="checkbox"
                                   th:attr="data-id=${task.id}"
                                   th:checked="${task.status.name() == 'COMPLETED'}"
                                   onchange="updateTaskStatus(this)"

                            />
                        </div>

                        <!-- Task Info -->
                        <div class="todo-info-div">
                            <p th:text="${task.title}"></p>
                            <p th:text="${#temporals.format(task.dueDate, 'dd MMM yyyy HH:mm')}"></p>
                        </div>

                        <!-- Priority -->
                        <div class="priority-div">
                            <div class="priority"
                                 th:classappend="${task.priority.name().toLowerCase()}">
                                <p th:text="${task.priority.name()}"></p>
                            </div>
                        </div>

                        <!-- Delete -->
                        <div class="delete">
                            <i class="fa-solid fa-trash-can"></i>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <footer>
        &copy; All rights are reserved by Puvith Kumar.
    </footer>
</main>
</body>

<script th:src="@{/js/todo-list.js}"></script>

<script>
    function updateTaskStatus(checkbox) {
        const taskId = checkbox.getAttribute("data-id");
        const isChecked = checkbox.checked;

        const csrfToken = document.querySelector('meta[name="_csrf"]').content;
        const csrfHeader = document.querySelector('meta[name="_csrf_header"]').content;

        fetch(`/taskmanager/v1/api/task/${taskId}/status?completed=${isChecked}`, {
            method: "PUT",
            headers: {
                [csrfHeader]: csrfToken
            }
        })
        .then(res => {
            if (!res.ok) throw new Error("Failed");
            return res.text();
        })
        .then(data => console.log(data)


        )
        .catch(err => {
            console.error(err);
            checkbox.checked = !isChecked;
        });
    location.reload();

    }

</script>



</html>